.btn-icon
{
  -fx-max-width: Infinity;
  -fx-padding: 8;
}

.btn-icon:hover
{
  -fx-background-color: #FFD700;
}

#btn_start
{
  -fx-max-width: Infinity;
  -fx-padding: 5;
}

#grid_forest {
  -fx-background-color: black, white;
  -fx-background-insets: 0, 0 0 0 0;
  -fx-padding: 5 5 10 5;
}

.grid_forest_cell {
  -fx-background-color: black, white;
  -fx-background-insets: 0, 0 1 1 0;
  -fx-hgap: 1;
  -fx-vgap: 1;
}

.grid_forest_cell.first-row {
  -fx-background-insets: 0, 1 1 1 0 ;
}

.grid_forest_cell.first-column {
  -fx-background-insets: 0, 0 1 1 1 ;
}

.grid_forest_cell.first-row.first-column {
  -fx-background-insets: 0, 1 ;
}

.attackable_location {
  -fx-background-color: black, red;
}

.dead_location {
  -fx-background-color: black, yellow;
}

.hovered_location {
  -fx-background-color: black, blue;
}

.movable_location {
  -fx-background-color: black, orange;
}